.content {
  border: solid 5px black;
  display: flex;
  &__modal {
    text-align: center;
    width: 100%;
    border-left: 5px solid black;
  }
  &__list {
    width: 250px;
  }
}

.notelist {
  &-title {
    text-align: center;
    font-size: 20px;
  }
}
