code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

img {
  width: 100%;
  height: auto;
}

.span-button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

a,
a:hover {
  text-decoration: none;
}

@font-face {
  font-family: sfprodisplay;
  src: url('../assets/sfprodisplay/SFProDisplay-Regular.woff');
  font-weight: 400;
}

@font-face {
  font-family: sfprodisplay;
  src: url('../assets/sfprodisplay/SFProDisplay-Medium.woff');
  font-weight: 500;
}

@font-face {
  font-family: sfprodisplay;
  src: url('../assets/sfprodisplay/SFProDisplay-Bold.woff');
  font-weight: 700;
}

body {
  margin: 0;
  height: 100%;
  font-family: 'sfprodisplay', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root,
.main {
  height: 100%;
}

.btn-success-borderless {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  color: #00a82d;
  padding: 0;
  vertical-align: middle;
  float: right;
  cursor: pointer;
  outline: none;
  background: transparent;
}

.mask-leave,
.mask-top-leave,
.mask1-leave {
  opacity: 0.8;
}

.mask-leave.mask-leave-active,
.mask-top-leave.mask-top-leave-active,
.mask1-leave.mask1-leave-active {
  opacity: 0;
  transition: all 300ms ease-in;
}

.mask-top-appear {
  transform: translateY(-75%);
  opacity: 0;
  transition: transform 0s ease-in;

  &.mask-top-appear-active {
    opacity: 1;
    transition: opacity 0.3s ease-in, transform 0.3s ease-out;
    transform: translateY(0);
  }
}

.mask-appear {
  // transform: translateY(-10%);
  opacity: 0;
}

.mask-appear.mask-appear-active {
  opacity: 1;
  transition: opacity 0.3s ease-in, transform 0.3s ease-out;
  transform: translateX(0);
}

// another direction
.mask1-appear table {
  overflow: hidden;
}

.mask1-appear {
  // transform: translateY(-10%);
  transform: translateX(75%);
  opacity: 0;
  transition: transform 0s ease-in;

  &.mask1-appear-active {
    opacity: 1;
    transition: opacity 0.3s ease-in, transform 0.3s ease-out;
    transform: translateX(0);
  }
}
